<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/tailwindcss.min.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      var status = '<%- JSON.stringify(status) %>';

      if (JSON.parse(status) == "verified") {
        if (confirm("Do u want to login?")) {
          window.location.href = "https://test-beta-coral.vercel.app/";
        }
      }
    </script>
  </head>
  <body class="bg-gray-200">
    <div class="flex items-center justify-center h-screen">
        <div class="w-96 bg-white rounded-xl shadow-md overflow-hidden ml-5 mr-5">
        
        <div class="p-8">
            <div class=" tracking-wide text-sm text-zinc-500 font-bold text-center mb-2"><%= email%></div> 


            <form action="" method="post">
      <input
      class="w-full h-10 p-2 mb-4 my-1 bg-slate-100"

        type="password"
        name="password"
        id="password"
        placeholder="password"
      /><br />
      <input
      class="w-full h-10 p-2 mb-4 my-1 bg-slate-100"

        type="password"
        name="confirmpassword"
        id="confirmpassword"
        placeholder="confirm password"
      /><br />
      <input type="submit" class="bg-slate-500  font-semibold py-2 px-4 rounded" value="submit" />
    </form>
        </div>
        </div>
  </body>
</html>
